* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: grey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
